html{
    --base-col: rgb(1, 79, 1);
    --secondary: white;
    --background-img: url('../images/quicktick-bg.jpg');

    color: var(--secondary);
    background-color: var(--base-col);
    background-image: var(--background-img);
}

html.dark{
    --base-col: rgb(1, 79, 1);
    --secondary: black;
    --third: white;
    --project-bg: rgb(18,28,59);
    --background-img: url('../images/quicktick-bg.jpg');
}

.login-container {
    margin-top: 144px;
    width: 400px;
    text-align: center;
}

p {
    margin: 10px 0 !important;
}

.card{
    border-radius: 15px;
}

body > nav.grey.darken-3{
    background-color: var(--project-bg) !important;
    border-bottom: 3px solid var(--third);
}

.sidenav {
	background-color: var(--project-bg) !important;
}

#mobile-demo{
    background-color: var(--secondary);
    border-right: 3px solid var(--third);
}

#mobile-demo > li a{
    color: var(--third);
}

.body-container{
    justify-items: center !important;

}

/* Dashboard Coin-tables & Notes */

#projects-text{
	margin-bottom: 2.2%;
}

#projects-container{
	display: flex;
	height: 66vh;
	width: 85vw;
}

#square, #rectangle{
	width: 50%;
	height: 100%;
	
}

#rectangle {
	display: flex;
}

#square {
	width: 50%;
	height: 100%;
}

#project2, #project3 {
	flex: 1;
	border: solid 3px var(--third);
	margin-left: 0.4vw;
}

#project1 {
	flex: 1;
	border: solid 3px var(--third);
	box-sizing: border-box;
	margin-right: 0.4vw;
}

input {
    color: var(--third);
}

.submit-input{
    color: var(--project-bg);
}

.projects{
	border-radius: 15px;
	align-content: center;		
	background-color: var(--project-bg);		
	color: var(--third);
}

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

h1 {
	color: var(--secondary);
}

h1.h1-dark {
	color: var(--third);
	justify-self: normal !important;
}

.crypto-table, #project1, #project2{
	overflow: scroll;
}

@media (max-width: 500px) {
    #projects-container{
        flex-direction: column-reverse;
        height: auto;
    }
    #square,
    #rectangle {
        width: 100%;
        height: auto;
    }
    #project1,
    #project2,
    #project3 {
        margin: 0.5rem 0;
  }
}